<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <ul id="ingredientsList">
            <%= data.number.forEach(function(ingredient) { %>
                <li><%= ingredient %></li>
            <%= }); %>
        </ul>
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
        </script>
    </body>
    
</html>