.modal-header {
    // Need to add in .modal-header so justifyContentCenter does not get overwritten
    &.justifyContentCenter {
        justify-content: center;
    }
}

.modal-body {
    div.ingredientsWrapper {
        display: grid;
        grid-row-gap: 0.5rem;
        text-align: center;

        div.ingredientRow {
            display: grid;
            grid-template-columns: 35% 15% 20% 15%;
            justify-content: space-between;
    
            .ingredientName {
                text-align: center;
            }
    
            .ingredientNoQuantity {
                margin: auto;
            }
        }
    }

    .noQuantityInputBootstrap {
        margin-top: 1rem;
        margin-left: 2rem;
        display: block;
    }

    .displayFlex {
        display: flex;
    }

    input.ingredientQuantity {
        text-align: center;
    
        &.hasQuantity {
            background-color: white;
        }
    
        &.noQuantity {
            background-color: gray;
        }
    }
}

.modal-footer {
    // Need to add in .modal-footer so justifyContentCenter does not get overwritten
    &.justifyContentCenter {
        justify-content: center;
    }

    // Puts buttons on opposites in modal
    &.spaceBetweenModalFooter {
        justify-content: space-between;
    }
}