html {
    background-color: white;
    margin: 0 5%;
    height: 100%;
}

nav {
    background-image: url('../img/tiny-squares.png');
    font-weight: 700;
}

body {
    background-image: url('../img/restaurant.png');
    background-size: cover;
    /* background-size: 100% auto; */
    background-repeat: repeat-y;
    min-height: 100%;
}

.displayNone {
    display: none;
}



