/* H1 that says Edit Recipe */
h1#editRecipeH1 {
    margin: 2.5% auto 0 auto;
    text-align: center;
}

/* Dropdown to choose recioe */
div.dropdown {
    margin: 1% auto 0 auto;
    text-align: center;
}

/* Input Recipe Name */
input#editRecipeRecipeName {
    display: block;
    margin: 2% auto 3% auto;
    text-align: center;
}

/* Headers "Ingredient Name" "Quantity" "No Quantity" */
div.headerWrapper {
    width: 70%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 300px 170px 200px 100px;
    grid-row-gap: 15px;
}

/* A Row of an Ingredient */
div.ingredientRow {
    display:grid;
    grid-template-columns: 300px 170px 200px 100px;
    
}

/* Holds all the ingredients  */
div.ingredientsWrapper {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 5px;
}

input.ingredientName {
    width: 75%;
    text-align:center
}

input.ingredientQuantity {
    width: 50%;
    text-align:center
}

input.ingredientNoQuantity {
    margin-left: 35%;
}

/* Save Button */
button.editRecipe {
    display: block;
    margin: 0 7% 0 auto;
}

.test {
    padding-bottom: 5%;
}