/* ingredient input */
#ingredientInput {
    display: grid;
    grid-template-columns: 320px 280px minmax(0px, 180px);
    grid-column-gap: 0;
    justify-items: start;
    min-width: 60%;
}

/* Error Spans */
span#recipeNameError{
    display: inline;
}

#ingredientInput #ingredientNameInput span#nameError{
    display: block;
    text-align: right;
}

#ingredientInput #quantityInput span#quantityError{
    display: block;
    text-align: right;
}

#recipeNameError {
    display:block;
}

/* X Button to Delete Ingredients*/
p.xButton {
    color: darkgray;
}

p.xButton:hover {
    filter: invert(100%);
    cursor: pointer;
}

/* Add Recipe Button */
#addRecipe:hover {
    cursor: pointer;
}
