html {
    background-color: white;
    margin: 0 5%;
    height: 100%;
}

nav {
    background-image: url('../img/tiny-squares.png');
    height: 75px;
    font-weight: 700;
}

body {
    background-image: url('../img/restaurant.png');
    background-size: 100% auto;
    background-repeat: repeat-y;
    height: 100%;
}

input {
    border-radius: 3px;
    border:2px solid black;
}

ul.ingredients li p {
    display: inline;
}


