html {
    background-color: white;
    margin: 0 5%;
    height: 100%;
}

body {
    background-image: url('../img/restaurant.png');
    height: 100%;
}

nav {
    background-image: url('../img/tiny-squares.png');
    height: 75px;
    font-weight: 700;
}

input {
    border-radius: 2.5px;
    border:0.5px solid black;
}

ul.ingredients li p {
    display: inline;
}

p.xButton {
    color: darkgray;
}

p.xButton:hover {
    filter: invert(100%);
/*    color: blue;*/
    cursor: pointer;
}

.editRecipeIngredient {
    display: block;
}